extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        if comments.length
          each comment in comments
            li.publication__list-item
              .publication__header
                img.publication__list-image(src=`/img/${comment.users.avatar || `avatar-sample.png`}` alt='Аватар пользователя' width='20' height='20')
                b.publication__list-name #{comment.users.name}
                +commentDate(comment.createdAt)
              a.publication__item-text(href=`/articles/${comment.articles.id}`) Публикация: #{comment.articles.title}
              p.publication__text-strong #{comment.text}
              .notes__item-buttons
                +insertErrorMessages(validationMessages)
                a.button.red(href=`/articles/delete/${comment.articles.id}/comments/${comment.id}`) Удалить комментарий
        else
          p Здесь пока ничего нет :(
