extends layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            +postDate(article.createDate)
            h2.post__title.title.title--main #{article.title}
            ul.preview__breadcrumbs
              each category in article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
          .post__picture
            img(src=`/img/${article.photo}` alt='Фото поста')
          .post__text
            p.post__announce #{article.announce}
            p #{article.fullText}
            if (user && user.isOwner)
              a.edit_post__button.button.button--colored(href=`/articles/edit/${article.id}`) Редактировать
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          include partials/post-comments-list.pug
          include partials/post-add-comment.pug
